<div>
    <h2> Celebrities</h2>
    {{#each celebrities}}
    <li>
        <a href="/celebrities/{{this.id}}">
        <h4>{{this.name}}</h4>
        </a>
    </li>
    {{/each}}
    <a href="/">Back to home</a>
</div>