<div>
    <h2 class="new-celebrity"> New Celebrity </h2>
    <h2> Add a New Celebrity</h2>

    <form action ="/celebrities/create" method="POST">
    <label> 
        Name:
        <input type="text" name ="username">
    </label>
    <label> 
        Ocupation:
        <input type="text" name ="occupation">
    </label>
    <label>
        Catch Prase:
        <input type="text" name ="catchPrase">
    </label>
    
    <button type="submit"> Create celebrity</button>
    
    </form>