<div>
    <h3 class="movie-details"> Movie Details </h3>
    <h3> Title: {{details.title}}</h3>

    <p> Genre: {{details.genre}}</p>
    <p> Plot:{{details.plot}}</p>
    
    <form action ="/movies/{{id}}/delete" method="POST">
    <button type="submit"> Delete movie</button>
    </form>
</div>